body {
  width:100vw;
  height: 100vh;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  display: block;
}
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.swiper-container {
  width: 100%;
  height: 75vh;
  transition: opacity .6s ease;
}
.swiper-container.swiper-container-coverflow {
  padding-top: 2%;
}
.swiper-slide {
  background-position: bottom;
  background-size: cover;
  height: 50vh !important;
  box-shadow: 1px 3px 3px rgba(0,0,0,0.2);
}
.swiper-slide .content {
  position: absolute;
  top: 40%;
  left: 0;
  width: 40%;
  padding-left: 5%;
  color: #fff;
}
.swiper-slide .content .title {
  font-size: 2.6em;
  font-weight: bold;
  margin-bottom: 30px;
}
.swiper-slide .content .caption {
  display: block;
  font-size: 13px;
  line-height: 1.4;
}

.slide1 {
  background-image: url("img1.jpg");
}
.slide2 {
  background-image: url("img2.jpg");
}
.slide3 {
  background-image: url("img3.jpg");
}
.slide4 {
  background-image: url("img4.jpg");
}
.slide5 {
  background-image: url("img5.jpg");
}
.swiper-slide::after {
  content:"";
  background-image: inherit;
  background-position: bottom;
  background-size: cover;
  transform:  scaleY(-1);
  width: inherit;
  height:40%;
  position: absolute;
  bottom: -41%;
  opacity: 0.4;
}
.swiper-slide::before {
  z-index: 1;
  content:"";
  width: inherit;
  height:42%;
  position: absolute;
  bottom: -42%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), #fff);

}

.masthead {
  padding: 1em;
  width: auto;
  float: none;
  text-align: center;
  margin: auto;
  border-bottom: 3px solid black;
  max-width: 800px;
  justify-content: center;
  align-items: center;
}
.masthead .menu {
  max-width: inherit;
}
.masthead h1 {
  margin-bottom: 10px;
}
.masthead .menu ul {
  text-align: center;
}
.masthead .menu a {
  display: inline-block;
  padding: 5px 10px;
  background: #444;
  color: #fff;
  border-radius: 5px;
}
.masthead .menu .active a {
  background: none;
  border: 1px solid #444;
  color: #000;
}
.masthead .menu li, .masthead .menu li:first-child {
  border: none;
  display: inline-block;
  margin-top: 5px;
}
.masthead .menu .menu-extra {
  display: none;
}

.main {
  padding: 2em 40px;
  hyphens: auto;
  border-left: none;
  width: auto;
  margin-left: 0;
  min-height: auto;
}
.masthead img {
  max-width: 80px;
}

.masthead .menu {
  max-width: inherit;
  direction: ltr;
  margin-left: auto;
  margin-right: auto;
}
.masthead .menu ul {
  text-align: center;
  margin: 0;
  padding: 0;
}

.masthead .menu li, .masthead .menu li:first-child {
  border: none;
  display: inline-block;
  margin-top: 5px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.masthead .menu a {
  display: inline-block;
  padding: 5px 10px;
  background: #444;
  color: #fff;
  border-radius: 5px;
  border-bottom: none;
  direction: ltr;
  text-decoration: none;
}
footer {
  float: none;
  text-align: center;
  margin: auto;
  max-width: 800px;
  display: block;
}
.copyright {
  text-align: center;
}
.copyright a {
  border-bottom: none;
}
a {
  color: black;
  text-decoration: none;
  padding-bottom: 2px;
}
.detail {
  padding: 2em 40px;
  hyphens: auto;
  border-left: none;
  width: auto;
  margin: auto;
  min-height: auto;
  max-width: 800px;

}
.detail h1, h2, h3, h4, h5, h6 {
  margin: 2em auto 1.5em auto;
}
h3, h4, h5, h6 {
  font-size: 16px;
}